<br>
<br>
<br>
<br>
<div class="card text-center">
    <div class="card-header">
      Aviso de notificación de Compra
    </div>
    <div class="card-body"><br>
      <h5 class="card-title">Pedido realizado satisfactoriamente !</h5>
      <p class="card-text">Estamos procesando su pedido para ser enviado lo antes posible.</p>
      <button type="button" class="buttonVerde button"><a routerLink="/localhost:4200">Volver al menu</a></button>
      <a routerLink="/"> <button class="btn btn-success">Volver al menu</button></a>
    </div>
    <div class="card-footer text-muted">
      Muchas Gracias ;)
    </div>
  </div>